@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  
  font-family: "Quicksand";
  color: #333;
}

.App {
  align-items: center;
  max-width: auto;
  border-bottom: 1px solid #f2f2f2
}

.App input {
  align-items: center;
  margin-left: 10%;
  font-size: "16px";  
  width:60%; 
  color: #345beb;
}

.App h2 {
  margin-left: 25%;
  font-size: 60px;
  color:#345beb;
}

.preview p{
 
  font-size: 16px;
  color:black;
}

div.search-bar.col-md-12{

  margin-top: 20%;
  margin-bottom: 5%;
}
div.col-example.col-md-4{
  
  margin-bottom: 3%;
}


td.url {
  text-decoration: underline;
}
