@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  
  font-family: "Quicksand";
  color: #333;
}

.App {
  
 
  align-items: center;
  max-width: auto;
 
  border-bottom: 1px solid #f2f2f2
}
.App input {
 

  color: #345beb;
  
}

.App h2 {
  offset-distance: 150px;
  
  align-items: center;
 
  font-size: 60px;
  color:#345beb;
  
 
}
.search {

  align-items: right;
  margin-left: 600px;
  margin-top: 200px;
  margin-bottom: 100px;
  
}


.p {
  max-width: auto;
  align-items: left;
  font-size: 16px;
  color:#345beb;

}

.content.p:hover{
  font-size: 16px;
  color:#345beb;
  box-shadow: 1px 3px 5px rgba(0,0,0,0,1)
}
.content a{


  font-size: 16px;
  color:#345beb;


}
tr.same-col-widths th {
  width: 20%;
}
td.url {
  text-decoration: underline;
}
.content h2{

  font-size: 16px;
  color:#345beb;
  
}