@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.App {
  padding: 20px;
 
  
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2
}
.App input {
 

  color: #345beb;
  
}
.home {
  margin-top: auto;
}
.App h2 {
  padding: 100px;
  margin-top: 0px;
  align-items: center;
  margin-left: 50px;
  font-size: 60px;
  color:#345beb;
  
 
}
.search {

  align-items: center;
  margin-left: 500px;
}


.content {
  max-width: auto;
  align-items: left;
  padding: 50px;
}

.content:hover{

  box-shadow: 1px 3px 5px rgba(0,0,0,0,1)
}
.content a{

  margin-top: 25px;
  font-size: 16px;
  color:#345beb;
  margin-bottom: 8px;

}
.content h2{

  margin-top: 0px;
  font-size: 16px;
  color:#345beb;
  margin-bottom: 8px;

}