@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.App {
    max-width: auto;
  }
  
  .App input {
    font-size: "16px";
  
    color: #67cfff;
  }
  
  .App h2 {
    margin-top: 1%;
  
    text-align: center;
    font-size: 60px;
    color: #345beb;
    margin-bottom: 5%;
  }




