@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.App {
  max-width: auto;
}
html {
  background-image: url(./1642478.jpg);

}
div#root {
  
  background-color: #000000;
}
.App input {
  font-size: "16px";

  color: #67cfff;
}

.App h2 {
  margin-top: 1%;

  text-align: center;
  font-size: 60px;
  color: #345beb;
  margin-bottom: 5%;
}
.App h4 {
  color: #7ad5ff;
  margin-bottom: 5%;
}
.App h5 {
  color: #7ad5ff;
}

.preview p {
  font-size: 18px;

  color: #7ad5ff;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 4%;
}

.preview h1 {
  font-size: 16px;
  color: #67cfff;
  font-weight: bold;
}

div.a {
 
  font-size: 8px;
  color: #67cfff;

  text-decoration: underline;
  text-align: center;
}
td.ratings {
  font-weight: bold;
  font-size: 16px;
  color: #67cfff;
}

td.date-created {
  font-weight: bold;
  font-size: 16px;
  color: #67cfff;
  text-align: center;
}
td.date-updated {
  font-weight: bold;
  font-size: 16px;
  color: #67cfff;
  text-align: center;
}

td.name {
  font-weight: bold;
  font-size: 16px;
  color: #67cfff;
  text-align: center;
}

th.header {
  font-weight: bold;
  font-size: 16px;
  color: #67cfff;
  text-align: center;
  width: 20%;
}
div.preview {
  margin-bottom: 6%;
}

div.date.row {
  margin-top: 1%;
}

button.loader {
  margin-bottom: 10%;
}

div.dropdown {
  text-align: center;
}

div.search.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}
div.col-example.col-md-2 {
  text-align: center;

  color: #67cfff;
  border: 2px #345beb;

  margin-bottom: 4%;
}

div.search.row.dropdown {
  pointer-events: none;
}

Table {
  border-radius: 1%;
  background-color: rgb(8, 17, 26);

  border: 2px #58f9ff;
  width: auto;
  height: auto;
}

div.description.row {
  width: auto;
}

td.description {
  text-align: center;
}
td.license {
  text-align: center;
}
td.watchers {
  text-align: center;
}
td.language {
  text-align: center;
}
td.forks {
  text-align: center;
}

td.model-files {
  overflow: hidden;
  word-wrap: break-word;
}

div.repositories.col-md-11 {
  text-align: left;
}

div.col-md-1 {
  text-align: right;
}

div.filtered-search.col-md-4 {
  margin-top: 4%;
  text-align: right;
}

div.closeButton {
  text-align: right;
}

h1 {
  color: #345beb;
  text-align: center;
}

div.modalBackground {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3%;
}
.modalBackground {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainer {
  width: 82%;

  border-radius: 1%;

  background-color: rgb(8, 17, 26);
  box-shadow: rgba(0, 0, 0, 0) 0% 1% 2%;
  display: flex;
  flex-direction: column;

  padding: 1%;
}
div.modalBackgroundAdvanced {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3%;
}
.modalBackgroundAdvanced {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContainerAdvanced {
  border-radius: 1%;
  width: 85%;
  background-color: rgb(8, 17, 26);
  box-shadow: rgba(135, 166, 223, 0.315) 0% 1% 2%;
  display: flex;
  flex-direction: column;

  padding: 1%;
}

div.col-example.col-md-4 {
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: large;
  font-weight: bold;
  color: #67cfff;
}

div.closeButton button {
  background-color: rgb(177, 6, 6);
}

div.col-md-4 {
  text-align: center;
  color: #67cfff;
  font-size: medium;
  
}
a{
  text-align: center;
  color: #67cfff;
}
 td.url{
   text-align:center;
 }
input#typeNumber.form-control {
  background-color: #dde6ee;
}
div.form-outline {
  background-color: #dde6ee;
}
div.react-datepicker_input-container {
  background-color: #dde6ee;
}
input.form-control{
  background-color: #151518;
}
input{
  background-color: #151518;
  font-size: large;
  font-weight: bold;
  color: #67cfff;
}

input.form-control {
  font-size: large;
  font-weight: bold;
  color: #67cfff;
}
div.alert-spinner {
  font-size: large;
  font-weight: bold;
  color: #67cfff;
}
div.advanced-search.col-md-12 {
  text-align: center;
}
